#project 3: handling data

#1.Understanding the Business Problema and Identifying the client requirement

Problem Statement:

A HR wants to decide on the salary package for the candiate with available data: 
1. Experience
2. Tese score
3. Interview score
4. Salary

In [1]:
import pandas as pd
df=pd.read_csv('/content/hiring.csv')
df

  experience  testScore  interviewScore  salary
0        NaN        8.0               9   50000
1        NaN        8.0               6   45000
2       five        6.0               7   60000
3        two       10.0              10   65000
4      seven        9.0               6   70000
5      three        7.0              10   62000
6        ten        NaN               7   72000
7     eleven        7.0               8   80000

In [2]:
import math
testScoremedian=math.floor(df['testScore'].median())
testScoremedian

8

In [3]:
df['testScore']=df['testScore'].fillna(testScoremedian)
df

  experience  testScore  interviewScore  salary
0        NaN        8.0               9   50000
1        NaN        8.0               6   45000
2       five        6.0               7   60000
3        two       10.0              10   65000
4      seven        9.0               6   70000
5      three        7.0              10   62000
6        ten        8.0               7   72000
7     eleven        7.0               8   80000

In [4]:
df['experience']=df['experience'].fillna('zero')
df

  experience  testScore  interviewScore  salary
0       zero        8.0               9   50000
1       zero        8.0               6   45000
2       five        6.0               7   60000
3        two       10.0              10   65000
4      seven        9.0               6   70000
5      three        7.0              10   62000
6        ten        8.0               7   72000
7     eleven        7.0               8   80000

#Using third party library and applying it using apply function and lambda function

In [8]:
!pip install word2number

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5582 sha256=2ada372e6b7dc61ebcbaa3ea1d1dc14a982d33852644f2fc88abc4f2b5ec67b2
  Stored in directory: /root/.cache/pip/wheels/4b/c3/77/a5f48aeb0d3efb7cd5ad61cbd3da30bbf9ffc9662b07c9f879
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [11]:
from word2number import w2n

In [10]:
w2n.word_to_num("nine hundred and eighty four")

984

In [12]:
#df['experience']=df['experience'].apply(lambda x:w2n.word_to_num(x))
#df

#Creating X value and y value

In [13]:
X=df.drop('salary',axis=1)
X

   experience  testScore  interviewScore
0           0        8.0               9
1           0        8.0               6
2           5        6.0               7
3           2       10.0              10
4           7        9.0               6
5           3        7.0              10
6          10        8.0               7
7          11        7.0               8

In [14]:
y=df['salary']
y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary, dtype: int64

#Building ML

In [15]:
from sklearn import linear_model
reg=linear_model.LinearRegression()
reg.fit(X,y)

LinearRegression()

In [16]:
reg.predict([[4,7,8]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([59550.94614265])

In [17]:
reg.score(X,y)

0.9616780002577959

#download the model

In [18]:
import pickle
with open('hiringInputmodel','wb') as f:
    pickle.dump(reg,f)

In [ ]:
reg.predict([[7,5,2]])

In [24]:
import pandas as pd
df=pd.read_csv('/content/clientfile3.csv')
import math
testScore_median=math.floor(df['testScore'].median())
testScore_median

8

8

In [25]:
df['testScore']=df['testScore'].fillna(testScore_median)
df

   experience  testScore  interviewScore
0           0        8.0               9
1           2        8.0               6
2           8        6.0               7
3           5       10.0              10
4           7        9.0               6
5           6        7.0              10
6           3        8.0               7
7          12        7.0               8

In [26]:
yTest=reg.predict(df)
yTest

array([52350.0727802 , 51360.26200873, 66751.81950509, 72311.4992722 ,
       67270.74235808, 69587.33624454, 56378.45705968, 82054.58515284])

In [27]:
df['salary']=yTest
df

   experience  testScore  interviewScore        salary
0           0        8.0               9  52350.072780
1           2        8.0               6  51360.262009
2           8        6.0               7  66751.819505
3           5       10.0              10  72311.499272
4           7        9.0               6  67270.742358
5           6        7.0              10  69587.336245
6           3        8.0               7  56378.457060
7          12        7.0               8  82054.585153

In [28]:
df.to_csv('SalaryOutputFile.csv',index=False)