
#Title: Budget Prediction 
Miss Nazria a young entrepreneur is building a mobile app that will help to book our taxis for outstation travels. She is in need of an ML model that predicts budget based on distance (km) and the number of days travel given. She has shared a partial data set considering (12rs per km and 300rs to 500rs for extra expense). Kindly enhance the data set and build an ML model for the scenario.

# Using Python Library for Data Analysis
Pandas

In [1]:
import pandas as pd

#DataSet: csv --> Python understandbale format (Data Frame)

In [2]:
df=pd.read_csv('/content/taxi_ip - Sheet1.csv')
df

    km  days  budget
0  100   2.0    2200
1  150   1.0    2100
2   88   1.0    1500
3  180   1.0    2500
4  200   NaN    3000
5  250   1.0    3500
6  275   2.0    4300

#Handling the missing data

In [3]:
import math
days_median=math.floor(df['days'].median())
days_median

1

In [4]:
df['days']=df['days'].fillna(days_median)
df

    km  days  budget
0  100   2.0    2200
1  150   1.0    2100
2   88   1.0    1500
3  180   1.0    2500
4  200   1.0    3000
5  250   1.0    3500
6  275   2.0    4300

#Understanding the Business and Client requirement:

Problem Statement: A Miss Nazria a young entrepreneur wants to build a mobile to predict budget for taxi based on distance(KM) and number of days

#Data Collection
Finding X value and y value
X - Input variables
y - output variable

X - to find the X value we need to remove the output value from the dataframe

Distance(KM), Number of days, Budget

Distance(KM), Number of days - X 

Budget - y

In [5]:
x=df.drop('budget',axis=1)
print("Input data\n")
x

Input data

    km  days
0  100   2.0
1  150   1.0
2   88   1.0
3  180   1.0
4  200   1.0
5  250   1.0
6  275   2.0

In [6]:
y=df['budget']
print("Output Data\n")
y

Output Data

0    2200
1    2100
2    1500
3    2500
4    3000
5    3500
6    4300
Name: budget, dtype: int64

#Building ML Model

In [7]:
from sklearn import linear_model
reg=linear_model.LinearRegression()
reg.fit(x,y)

LinearRegression()

In [8]:
reg.predict([[200,2]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([3404.67289406])

In [9]:
reg.score(x,y)

0.9898397279997574

#Download the model

In [10]:
import pickle
with open('TaxiInput','wb') as f:
    pickle.dump(reg,f)

In [11]:
reg.predict([[200,2]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([3404.67289406])

In [13]:
import pandas as pd
df=pd.read_csv('/content/Client_file.csv')
import math
days_median=math.floor(df['days'].median())
days_median

1

In [14]:
df['days']=df['days'].fillna(days_median)
df

    km  days
0  100   2.0
1  150   1.0
2   88   1.0
3  180   1.0
4  200   1.0
5  250   1.0
6  275   2.0

In [15]:
yTest=reg.predict(df)
yTest

array([2167.2897416 , 2227.97757602, 1460.8000215 , 2599.19252176,
       2846.66915225, 3465.36072848, 4332.7102584 ])

In [16]:
df['budget']=yTest
df

    km  days       budget
0  100   2.0  2167.289742
1  150   1.0  2227.977576
2   88   1.0  1460.800021
3  180   1.0  2599.192522
4  200   1.0  2846.669152
5  250   1.0  3465.360728
6  275   2.0  4332.710258

In [17]:
df.to_csv('BudgetOutputFile.csv',index=False)