#step 1:understanding the business problem
find the price of house for given details(area,age,no of bedrooms)

#step 2: collecting the dataset

#using multiple variable(multivariate) to find the solution in project 2

In [18]:
import pandas as pd

In [19]:
df=pd.read_csv('/content/rate_with_age.csv')
df

   area  bedroom  age     price
0  2200      3.0   20   8400000
1  2600      2.0   15  13000000
2  3000      4.0   14  15000000
3  3200      NaN   25  12000000
4  3600      3.0   10  19000000
5  4000      5.0    8  22000000

In [20]:
type(df)

pandas.core.frame.DataFrame

#Handling missing data
using median concept to fill up the empty data
to find median import the math library

In [21]:
import math
bedroomMedian=math.floor(df['bedroom'].median())
print(bedroomMedian)

3

In [22]:
df['bedroom']

0    3.0
1    2.0
2    4.0
3    NaN
4    3.0
5    5.0
Name: bedroom, dtype: float64

#filling the missing data using fillna() method

In [23]:
df['bedroom']=df['bedroom'].fillna(bedroomMedian)
df

   area  bedroom  age     price
0  2200      3.0   20   8400000
1  2600      2.0   15  13000000
2  3000      4.0   14  15000000
3  3200      3.0   25  12000000
4  3600      3.0   10  19000000
5  4000      5.0    8  22000000

#finding x and y value

In [24]:
x=df.drop('price',axis=1)
x

   area  bedroom  age
0  2200      3.0   20
1  2600      2.0   15
2  3000      4.0   14
3  3200      3.0   25
4  3600      3.0   10
5  4000      5.0    8

In [25]:
y=df['price']
y

0     8400000
1    13000000
2    15000000
3    12000000
4    19000000
5    22000000
Name: price, dtype: int64

In [26]:
from sklearn import linear_model
reg=linear_model.LinearRegression()

In [27]:
reg.fit(x,y)

LinearRegression()

In [28]:
reg.predict([[2000,2,2]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([14327375.41155592])

#formula
simple linear:y=mx+c
multiple linear eq:y=m1x1+m2x2+....+m3x3+b

In [29]:
reg.coef_

array([   5016.75865771,  -93941.40878468, -361541.60424894])

In [30]:
reg.intercept_

5204824.122211814

In [31]:
price= 5016.75865771*2000+-93941.40878468*2+-361541.60424894*2
price

9122551.28935276

#Downloading the model

In [32]:
import pickle

In [17]:
with open('Project2Model','wb') as f:
    pickle.dump(reg,f)

In [33]:
reg.predict([[2450,2,2]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([16584916.80752347])

In [42]:
import pandas as pd
df=pd.read_csv('/content/clientfile2.csv')
import math
bedroom_median=math.floor(df['bedroom'].median())
bedroom_median

2

In [43]:
df['bedroom']=df['bedroom'].fillna(bedroom_median)
df

   area  bedroom  age
0  1200        2   15
1  1850        3   20
2  2150        4   18
3  2600        2   15
4  2900        4   23
5  3150        1    9

In [39]:
yTest=reg.predict(df)
yTest

array([ 5613927.6301551 ,  6973171.32763439,  9107340.72465931,
       12637389.75094305, 11062201.69669384, 17659798.04695951])

In [40]:
df['price']=yTest
df

   area  bedroom  age         price
0  1200        2   15  5.613928e+06
1  1850        3   20  6.973171e+06
2  2150        4   18  9.107341e+06
3  2600        2   15  1.263739e+07
4  2900        4   23  1.106220e+07
5  3150        1    9  1.765980e+07

In [41]:
df.to_csv('PriceOutputFile2.csv',index=False)